body {
    font-family: 'Arial', sans-serif;
    background: url('images.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

header {
    margin-bottom: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #007bff;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.5em;
    margin: 10px 0 5px;
    color: #fff;
}

p {
    font-size: 1em;
    color: #ccc;
    margin-bottom: 20px;
}

.resume-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.resume-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

footer {
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a {
    text-decoration: none;
    color: #007bff;
    font-size: 1em;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #0056b3;
}
